body {
	color:white;
	background-color:black;
	font-family:monospace;
}
a {
	color:yellow;
	text-decoration:none;
}

.center {
	display:flex;
	justify-content:center;
	align-items:center;
}
.Des {
	text-align:center;
}