body {
    background-color:lightskyblue;
	font-family:Verdana;
	margin:0;
}
a {
    color:black;
    text-decoration:none;
}
a:hover {
    color:cadetblue;
}

#Main {
    padding-top:40px;
    padding-left:40px;
}